#titulo1 {
  text-align: center;
}

#rapero1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(7px 7px red);
}

#titulo2 {
  text-align: left;
}

#rapero2 {
  display: block;
  filter: drop-shadow(7px 7px green);
}

#titulo3 {
  text-align: right;
}

#rapero3 {
  display: block;
  filter: drop-shadow(7px 7px yellow);
  margin-left: 60%;
}
